aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
idna==3.1
logging==0.4.9.6
multidict==5.1.0
pkg-resources==0.0.0
pyaes==1.6.1
pyasn1==0.4.8
rsa==4.7
Telethon==1.19.0
typing-extensions==3.7.4.3
yarl==1.6.3
